#logo{
    border: 1px white solid;
    border-radius: 50%;
    background-color: whitesmoke;
    color: red;
    position: absolute;  
    top: 10px;
    left: 75px;
    font-size: 20px;
    padding: 10px 12px;
 
}


.topnav {
    overflow: hidden;
    background-color: rgb(224, 40, 40);
    height: 50px;
  
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 15px;
  
}  

.topnav a:hover {
    background-color: #ddd;
    color: black;
  
} 

  
.topnav .icon {
    display: none;
  
}  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  
} 

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
}
 


.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  
}
